body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: powderblue;
}
.nav a,
.links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Arvo', serif;
}

.work,
.contact,
.links{
    font-size: 30px;
    height: 100px;
    font-family: 'Arvo', serif;
}
.day-planner-image,
.password-image,
.code-quiz-image,
.weather-dash,
.poke{
    height: 220px;
    width: 350px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 0px;
}
.day-planner-image:hover,
.password-image:hover,
.code-quiz-image:hover,
.weather-dash:hover,
.poke:hover{
    border: 4px solid red;
}

/* about me page */
.resume-screenshot{
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px;
}
.desc{
    font-size: 30px;
    line-height: 65px;
    font-family: 'Comfortaa', cursive;
    padding-left: 3px;
    padding: 20px 48px 10px 48px;
    
}
.about-me{
    width: 230px;
    border: 3px solid black;
    border-radius: 45px;
    background-color: black;
}
.body-desc{
    background-image:url('./images/start-background2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
.contact-a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}



.container-header{
    position: relative;
    top: 150px;
    display: flex;
}
.nick-broglio{
    
    margin: 0;
    width: 40%;
    text-align: center;
    border-radius: 25px;
}

.nick-header{
    padding: 40px;
    font-size: 40px;
    color: white;
    
}

.nick-navbar a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Arvo', serif;
    padding: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.work-header{
    color: white;
    text-align: center;
    border: 4px solid white;
    border-radius: 30px;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
    text-decoration: none;
}
.work-header:hover{
    color:red;
}

@media screen and (max-width: 600px){
    .contact-text{
        color: white;
    }
    .help-cont{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 2048px) {
    .help-cont{
        margin-top: 100px;
        
    }
}

@media screen and (min-width: 1200px) {
    .container-header{
        display: flex;

    }
    .nick-navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 400px) {
    .container-header{
        display: flex;

    }
    .nick-navbar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}